{{ define "main" }}

<header class="breadCrumb">

  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="breadCrumb__title">{{ .Title }}</h3>
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
          <ol class="breadcrumb align-items-center">
            <li class="breadcrumb-item active" aria-current="page">{{ .Params.breadcrumb }}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  
</div>


        <div class="col-lg-12">
            <div class="about_content">
                <div class="about_content-thumb">
                    <div class="about_content-thumb-image">
                      <img src="/images/about/nosotros.jpeg" alt="about-img"
                      style='
                      -webkit-mask: url({{"images/hero/hero-mask-svg.png" | absURL }});
                      -webkit-mask-repeat: no-repeat;
                      -webkit-mask-size:  100%, 25%, 25%;     
                      -webkit-mask-position: center center;
                    ' />
                    </div>
            </div>
        </div>
    

  <section class="container">
    <div class="singleBlog__content">
      {{ if .Params.toc }}
        <h3>Table of Contents</h3>
        {{ .TableOfContents | replaceRE "<ul>[[:space:]]*<li>[[:space:]]*<ul>" "<ul>" | replaceRE "</ul>[[:space:]]*</li>[[:space:]]*</ul>" "</ul>" |  safeHTML }}
      {{ end }}

      {{ .Content }}
    </div>
</section>


</header>


{{ end }}