.service {
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
    &__background {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 200%;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    &__background_shape {
        position: absolute;
        bottom: -10%;
        left: -7%;
        height: 465px;
        width: 410px;
        svg {
            width: 100%;
        }
        @include desktop {
            display: none;
        }
    }
    &__background_pattern {
        position: absolute;
        bottom: 4%;
        left: 6%;
        animation: move_top 5s infinite linear;
        @include desktop {
            display: none;
        }
    }
    &__slider {
        &_item {
            margin: 15px;
            padding: 30px;
            box-shadow: 10px 10px 40px 0px rgba(77, 72, 72, 0.12);
            border-radius: 20px;
            background: $white;
            &-icon {
                height: 110px;
                width: 125px;
                position: relative;
                .icon-background {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                .icon {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 1;
                }
            }
        }
        .slick-list {
            overflow: visible;
        }
        .slick-dots {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            justify-content: center;
            li {
                margin: 0;
                list-style: none;
                height: 8px;
                width: 8px;
                &:not(:last-child) {
                    margin-right: 15px;
                }
                button {
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                    background: #c2c8cc;
                    border-radius: 50%;
                    transition: all 0.3s ease;
                    display: block;
                    padding: 0;
                    text-indent: -9999px;
                    &:focus {
                        outline: 0;
                    }
                    &:hover {
                        background: $primary;
                    }
                }
                &.slick-active {
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    button {
                        background-color: $primary;
                    }
                }
            }
        }
        .slick-slide {
            &:focus {
                outline: 0;
            }
        }
    }
}


/// STEPPER ///

:root {
    --circle-size: clamp(1.5rem, 5vw, 3rem);
    --spacing: clamp(0.25rem, 0vw, 0.1rem);
  }
  
  .c-stepper {
    display: flex;
  }
  
  .c-stepper__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
  
    &:before {
      --size: 3rem;
      content: "";
      display: block;
      width: var(--circle-size);
      height: var(--circle-size);
      border-radius: 50%;
      background-color: lightgrey;
      background-color: #E63946;
      opacity: 0.5;
      margin: 0 auto 1rem;
    }
  
    &:not(:last-child) {
      &:after {
        content: "";
        position: relative;
        top: calc(var(--circle-size) / 2);
        width: calc(100% - var(--circle-size) - calc(var(--spacing) * 2));
        left: calc(50% + calc(var(--circle-size) / 2 + var(--spacing)));
        height: 2px;
        background-color: #e0e0e0;
        order: -1;
      }
    }
  }
  
  .c-stepper__title {
    font-weight: bold;
    font-size: clamp(1rem, 4vw, 1.25rem);
    margin-bottom: 0.5rem;
  }
  
  .c-stepper__desc {
    color: grey;
    font-size: clamp(0.85rem, 2vw, 1rem);
    padding-left: var(--spacing);
    padding-right: var(--spacing);
  }
  
  /*** Non-demo CSS ***/
  
  .wrapper {
    max-width: 1000px;
    margin: 2rem auto 0;
  }
  
  // body {
  //   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  //     Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  //   padding: 1rem;
  // }
  
  // *,
  // *:before,
  // *:after {
  //   box-sizing: border-box;
  // }
