---
import Layout from '~/layouts/PageLayout.astro';




const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
<section>
    <h1>Hola</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium et, mollitia sequi incidunt eveniet aliquid accusamus ea dolorem exercitationem asperiores in reiciendis tenetur ex beatae laudantium consectetur nam excepturi quam?</p>
</section>

</Layout>